.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background-color: #fecaca;
}
.head {
  background-color: #e5e7eb;
  padding: 1rem 1rem;
  font-size: x-large;
  border: thick double black;
  margin-left: 20%;
  margin-right: 20%;
}
